.entity-form {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl);
    padding-bottom: 0;

    .form-content {
    }

    @keyframes form-section-open {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .form-row {
        display: flex;
        gap: 1rem;
        width: 100%;

        .form-input {
            flex: 1;
        }
    }

    .form-validation-summary {
        padding: var(--space-md);

        margin-bottom: var(--space-lg);

        border: 1px solid var(--color-danger);

        border-radius: var(--radius-lg);

        background: var(--color-danger-background);

        color: var(--color-danger);

        line-height: 1.5;
    }
}
