.entity-form {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl);
    padding-bottom: 0;

    .form-content {
    }

    @keyframes form-section-open {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .form-row {
        display: flex;
        gap: 1rem;
        width: 100%;

        .form-input {
            flex: 1;
        }
    }
}
