@mixin flex-center {

    display:flex;

    justify-content:center;

    align-items:center;

}


@mixin container {

    width:100%;

    max-width:var(--max-width);

    margin:0 auto;

    padding:
        0 var(--space-lg);

}


@mixin mobile {

    @media(max-width:768px){

        @content;

    }

}